{% extends 'contenido/dashboard.html' %}

{% block titulo %} Acerca de nosotros {% endblock titulo %}


{% block contenido %}
{%load static%}

<div class="titulosobre">
    <h1>Sobre nosotros:</h1>
    <div class="container">
        <h3>
            Somos un jardín de niños con la firme idea que los primeros años de vida son esenciales para el desarrollo
            del ser humano, por lo mismo ofrecemos una educación integral para el desarrollo psicomotor, social,
            cognitivo
            y de valores, hoy en día la seguridad de los niños es nuestra prioridad y los mas importante un crecimiento
            sano en el que pueda interactuar con su compañeros y maestros, nuestro equipo docente esta seleccionado por
            un sistema muy estricto el cual este completamente capacitado para que los niños tengan la mejor atención.
        </h3>
    </div>
    <h1>Nuestras instalaciones:</h1>
</div>
<div class="container">
    <div class="instalacion">
        <img src="{% static 'contenido/images/acercade/insta1.jpg' %}" style="border-radius: 15px; height: 300px;"
            alt="Instalaciones 1">
    </div>
    <div class="instalacion">
        <img src="{% static 'contenido/images/acercade/insta2.jpg' %}" style="border-radius: 15px; height: 300px;"
            alt="Instalaciones 2">
    </div>
    <div class="instalacion">
        <img src="{% static 'contenido/images/acercade/insta3.jpg' %}" style="border-radius: 15px; height: 300px;"
            alt="Instalaciones 3">
    </div>

</div>

{% endblock contenido %}