<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    {%load static%}
    <link href="{% static 'contenido/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'contenido/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'profesor/css/principal.css' %}" rel="stylesheet">
</head>

<body>
    <!-- SECCIÓN DEL NAVBAR -->
    <div class="espacio-nubes">
        <div class="fondo-nubes">
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container">
                    <img src="{% static 'contenido/images/logo_solecito.png' %}" width="80" height="80"
                        class="d-inline-block align-top" alt="logo">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <!-- mr:izquierda, ml: dereha -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'Menu' %}">
                                    <p class="nav-menu">Menú</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'AltaActividad' %}"">
                                    <p class=" nav-registro">R. Actividad</p>
                                </a>
                            </li>
                            <li class=" nav-item ">
                                <a class=" nav-link" href="{% url 'DudasProfesor' %}">
                                    <p class="nav-consultas">Foro</p>
                                </a>
                            </li>
                            <li class=" nav-item ">
                                <a class=" nav-link" href="{% url 'ConsultaTareasProfesor' %}">
                                    <p class="nav-tareas">Tareas</p>
                                </a>
                            </li>
                            <li class=" nav-item ">
                                <a class=" nav-link" href="{% url 'LogOut' %}">
                                    <p class="nav-salir">Salir</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- END NAV BAR -->



    <!-- BARRA DE NAVEGACION -->
    <div class="container"><br>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'Inicio'%}">
                        {% if request.path == '/' %}
                            Inicio
                        {% else %}
                            Inicio{{request.path}}
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END BARRA DE NAVEGACION -->


    <!-- CONTENIDO -->
    {% block contenido %}

    {% endblock %}

    <!-- FOOTER -->
    <img src="{% static 'contenido/images/pasto_fondo.png' %}" class="card-img-top">
    <div class="pie-pagina">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="bloque">
                    <p class="text-center">Copyright ©2021</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="bloque">
                    <p class="text-center">Jardín de niños Solecito</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="bloque">
                    <p class="text-center">Col. Soledad #1020</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER -->

    <!-- END CONTENIDO -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>