{% extends 'modelos/profesor/navBar.html' %}

{% block titulo %} Inicio {% endblock titulo %}


{% block contenido %}
{%load static%}


<div class="container">
    <div class="titulosobre">
        <div class="row">
            <div class="col-5">
                <hr color="#9BF176" size=3>
            </div>
            <div class="col-2" style="text-align: center;">
                <i> Bienvenido Profesor</i>
            </div>
            <div class="col-5">
                <hr color="#1BE1DB" size=3>
            </div>
        </div>
    </div>
</div>

<!-- MENSAE DE ALERTA -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="container">
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    </div>    
    {% endfor %}
</div>
{% endif%}

<div class="container my-4">
    <div class="card-deck mt-5">
        <div class="row" >
            <div class="col-12 col-md-4">
                <div class="card" style="align-items: center;">
                    {%load static%}
                    <img src="{% static 'profesor/images/principal/prof_menu1.png' %}" class="card-img-top" style="height: 350px;"
                        alt="Desarrollo-movil">
                    <div class="card-body">
                     
                        <a class="btn btn-primary" href="{% url 'AltaActividad' %}" role="button">Registrar Actividad</a>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-4">
                <div class="card" style="align-items: center;">
                    <img src="{% static 'profesor/images/principal/prof_menu2.png' %}" class="card-img-top" style="height: 350px;"
                        alt="Redes-Instalación">
                    <div class="card-body">
                        
                        <a class="btn btn-primary" href="{% url 'DudasProfesor' %}" role="button">Consultas</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card" style="align-items: center;">
                    <img src="{% static 'profesor/images/principal/prof_menu3.png' %}" class="card-img-top" style="height: 350px;"
                        alt="Desarrollo-web">
                    <div class="card-body" >
                        
                        <a class="btn btn-primary" href="{% url 'ConsultaTareasProfesor' %}" role="button">Revisar Tareas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>
<!-- END CARDS -->

{% endblock contenido %}