{% extends 'modelos/profesor/navBar.html' %}

{% block titulo %} Menu {% endblock titulo %}


{% block contenido %}
{%load static%}
<link href="{% static 'profesor/css/tareasDetalle.css' %}" rel="stylesheet">

<!-- CARDS DUDAS -->
<div class="container">
    <!-- Inico del div del foro de dudas -->
    <div class="container">
        <!-- Inicio Cards para el foro de dudas -->
        <div class="card mb-3">
            <!-- Inicio de un foro -->
            <div class="card-body">
                <div class="d-flex">
                    <div class="col-12">
                        <div class="column" style="padding-left: 10px; padding-top: 10px;">
                            <h4>{{tarea.titulo}}</h4><br>
                            <p><b>Descripción:</b> {{tarea.descripcion}}</p>
                            <p></p>
                            <h6>Fecha máxima de entrega: {{tarea.fecha_entrega}}</h6><br>
                            
                            <h5>Entregas recibidas:</h5>
                            <br>
                            {% for entrega in entregas %}
                            {% if tarea.ID == entrega.id_actividad%}
                            <hr color="#1BE1DB" size=3>
                            <div class="row">
                                <div class="col-9">
                                    <h5>Enviado por: {{entrega.nombre_usuario}}</h5>
                                    <p>{{entrega.create_at}}</p>
                                    <p>Ultima actualización: {{entrega.update_at}}</p>
                                </div>
                                <div class="col-3 pt-3 text-right">
                                    <a href="{{entrega.archivo.url}}" download class="btn btn-primary">DESCARGAR</a>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="p-2 linestyle">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inicio de un foro -->
        </div>
        <!-- Fin cards -->
    </div>
    <!-- Fin del div del foro de dudas -->
</div>
</div><br><br><br>
<!-- END CARDS -->

{% endblock contenido %}