{% extends 'modelos/alumno/navBarAlumno.html' %}

{% block titulo %} Foro de dudas {% endblock titulo %}

{% block contenido %}

{%load static%}
<div class="container">
    <div class="container">
        <div class="titulosobre">
            <div class="row">
                <div class="col-5">
                    <hr color="#9BF176" size=3>
                </div>
                <div class="col-2" style="text-align: center;">
                    <i> Foro de dudas</i>
                </div>
                <div class="col-5">
                    <hr color="#1BE1DB" size=3>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="p-2 align-self-center">¿No encuentras tu duda?</div>
        <div class="p-2 ">
            <a href="{% url 'AltaDudas' %}" class="btn btn-primary">Publicar</a>
        </div>
    </div>
</div>

{% for duda in dudas %}
<div class="container">
    <!-- Inicio Cards para el foro de dudas -->
    <div class="card mb-3">
        <!-- Inicio de un foro -->
        <div class="card-body">
            <div class="d-flex">

                <div class="linestyle"></div>

                <div class="col-10">
                    <div class="mr-auto p-2">
                        <h5><a href="{% url 'AResponder' duda.ID%}">{{duda.titulo}}</a></h5>
                        <p>Contenido: {{duda.contenido}} </p>
                        <h6>Publicado por: {{duda.nombre_usuario}}</h6>
                    </div>
                </div>
                <div class="col-2">
                    <div class="p-4 align-self-center">
                        <p class="card-text"><small class="text-muted">{{duda.create_at}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inicio de un foro -->
    </div>
    <!-- Fin cards -->
</div>
{% endfor %}

{% endblock contenido %}